{{#link-to 'about'}}
  Back
{{/link-to}}
<h1>How It Works</h1>
<ul>
  <li>
    <div>
      <span>1</span>
      <h1>Pick your costume</h1>
    </div>
    <div>
      <p><b>Facilitators bring the brain alcohol.</b> You can teach, lead a discussion, or pose a well-structured problem. {{link-to 'Email us' 'contact-us'}} if you're interested!</p>
      <p><b>Partiers bring the fun.</b> Partiers contribute their insight, curiousity, and engagement. If it's your first party, we recommend that you come as a partier.</p>
    </div>
  </li>
  <li>
    <div>
      <span>2</span>
      <h1>Check our calendar</h1>
    </div>
    <div>
      <p><b>Then check yours.</b> You can peruse through {{link-to 'our upcoming events' 'events'}}. </p>
      <p><b>Then check your future calendar.</b> We meet on the 3rd Saturday of every month. Are you a party animal? <a href="">Download</a> our calendar and sync it to yours.</p>
    </div>
  </li>
  <li>
    <div>
      <span>3</span>
      <h1>Pay it forward</h1>
    </div>
    <div>
      <p><b>Be a ripple.</b> Go out into the world, young grasshopper, and share these ideas with others. Ask more questions, create more spaces for others to learn and grow. </p>
      <p><b>Send us your ideas!</b> Tell us what we can make better. Tell us what you yearn to learn. Tell us what you yearn to share. It just a {{link-to 'few taps and a click' 'contact-us'}}.</p>
      <p><b>Come back!</b> Party with us again - maybe this time as a facilitator?</p>
    </div>

  </li>
</ul>
