{{#link-to 'about'}}
  Back
{{/link-to}}
<h1>The Idea</h1>

<p>
  Has your brain ever felt lonely? Wish it could find other brains to party with? Well you and your brain are both in luck! You've stumbled upon the website for the one true, 100% satisfaction guaranteed brain party! Brain party was created by two lonely brains on a party bus to Boston. Brain Party is their collective fear of loneliness realized.
</p>
<p>
  Every month, we host a salon of sorts to discuss <<i>ideas</i>. Brain Party is solution-oriented event. We aim to provide a common base of understanding shared by all participants so that we can use our collective presence and intelligence to brainstorm solutions.
</p>
<p>
  We each bring ideas, knowledge, and experiences for the group to reflect on. And we teach each other how to solve problems analytically, artistically, computationally, and sustainably.
</p>
