{{#link-to 'about'}}
  Back
{{/link-to}}
<h1>The Creators</h1>

<div>
  <h2>Karishma</h2>
  <p>
    Always ready to lend a helping hand or a sympathetic ear, this future doctor is an insatiable drunk ... on knowledge that is! She drinks ceaselessly and hungrily from the fountain of curiosity so much so that she decided that having a party in her own brain wasn't enough. She needed to bring the party to everyone else too. This is testament to Karishma's dual secret powers: drive and kindness. She'll outwork your, out-kind you and don't let her close to your mother! She'll give her so many "your mom" compliments that your mom might just let her more than she likes you.
  </p>
  <p>Nicknames: your MOM is so beautiful in that dress today</p>
  <p>Hidden talent: Karishma can fit one entire bite-site cupcake into her mouth -- all at once!</p>
</div>

<div>
  <h2>Eric</h2>
  <p>
    This caring, kind, and nurturing human being is also a jack of all trades. But this artist,  designer, coder, chef, pseudo-grandma, future doctor, computational biologist isn't just knowledge hub. Eric has a passion for the world and, more importantly, the people who inhabit it. Ever wanted to save the world? ERIC is your man. Hit him up any time for an insightful conversation. You'll walk away with a better understanding of yourself and the world in which you live.
  </p>
  <p>Nicknames: E-grandma</p>
  <p>Secret sore spot: tickle/scare him for maximum fun. (pro-tip: he's terrified of the ring girl)</p>
</div>
