<div class="row contact-us">
  <div class="col-xs-6 to-present">
    <div>
      <img src="/assets/images/present.png" alt="argh">
      {{#link-to 'contact-us.present' tagName='button' classNames='btn btn-default'}}
        <h4>If you want to<br>
        PRESENT</h4>
      {{/link-to}}
    </div>
  </div>
  <div class="col-xs-6 to-feedback">
    <div>
      <img src="/assets/images/feedback_light.png" alt="argh">
      {{#link-to 'contact-us.feedback' tagName='button' classNames='btn btn-default'}}
        <h4>If you want to give<br>
        FEEDBACK</h4>
      {{/link-to}}
    </div>
  </div>
</div>
