<div class="logo">
  <img src="/assets/images/BEK.png" alt="argh">
</div>
<div class="row home-page">
  <div class="col-xs-7 home-blurb">
    <div>
      <h1>Brain Party</h1>
      <h4>A modern version of the 17th century Parisian salon.<br>An intellectually inspired, solution-oriented soirée. <br>Your gateway to the rennaissance of the 21st century.</h4>
      <button class="btn btn-default">
        Learn More
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
  </div>
  <div class="col-xs-5 home-boy">
    <img src="/assets/images/bpLogo.png" alt="argh">
  </div>
</div>
